body{
    background-color: rgb(79,185,159);
}
.head{
    background-color: rgb(17,47,65);
    color: white;
    height: 50px;
}
.load-spinner{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 10px solid rgb(242,177,52);
    border-top: 10px solid rgb(237,85,59);
    animation: spin 2s linear infinite;
}

@keyframes spin{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}